<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::#main})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div id="main">
  <div th:replace="~{/layout/_menu::hero-normal-section}"></div>
  <!-- Breadcrumb Section Begin -->
  <section class="container breadcrumb-section set-bg p-3" style="background-color: #9BCA3C;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text" style="font-size: 20px;">
            <a th:href="@{/home/index}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <i class="fa fa-chevron-right mx-2" aria-hidden="true"></i>
            <a th:href="@{/menu}"><i class="fa fa-home" aria-hidden="true"></i> Shop</a>
            <i class="fa fa-chevron-right mx-2" aria-hidden="true"></i>
            <span th:text="${item.name}"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->
  <!-- Product Details Section Begin -->
  <section class="product-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="product__details__pic">
            <div class="product__details__pic__item">
              <img class="product__details__pic__item--large"
                   th:src="@{|/assets/images/product/${imageFoods.get(0).imageName}|}" alt="">
            </div>
            <div class="product__details__pic__slider owl-carousel">
              <img th:each="i: ${imageFoods}" th:data-imgbigurl="@{|/assets/images/product/${i.imageName}|}"
                   th:src="@{|/assets/images/product/${i.imageName}|}" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="sale-info">
            <span th:if="${item.numberDateToStart >= 1}" class="badge badge-pill badge-danger" style="font-size: 16px">
              SALE STAR APTER [[${item.numberDateToStart}]] DAY!
            </span>
            <span th:if="${item.numberDateToEnd >= 1}" class="badge badge-pill badge-danger" style="font-size: 16px">
              SALE END AFTER [[${item.numberDateToEnd}]] DAY!
            </span>
            <span th:if="${item.numberDateToEnd == 0}" class="badge badge-pill badge-danger" style="font-size: 16px">
              [[${item.nameDiscount}]]
            </span>
          </div>
          <div class="product__details__text">
            <h3 class="mb-0" th:text="${item.name}"></h3>
            <div class="mt-0 mb-3">
               <span class="text-muted mr-2">
                 <i class="fa fa-eye" aria-hidden="true"></i>
                [[${item.viewCount}]]
              </span>|
              <span class="text-muted mx-2">
                [[${item.quantitySell}]] Sold
              </span>|
              <span class="text-muted mx-2">
                [[${item.inventory}]] Inventory
              </span>
            </div>
            <div class="product__details__rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <span>(18 reviews)</span>
            </div>
            <div >
              <span class="text-muted font-italic" style="text-decoration: line-through">
                [[${#numbers.formatDecimal(item.priceOld, 0, 'POINT', 1, 'COMMA')}]] VND
              </span>
              <span class="badge badge-pill badge-danger mx-2" style="font-size: 16px">[[${item.nameDiscount}]]</span>
            </div>
            <div class="product__details__price">[[${#numbers.formatDecimal(item.priceNew, 0, 'POINT', 1, 'COMMA')}]] VDN</div>
            <div class="product__details__quantity">
              <div class="quantity">
                <div class="pro-qty">
                  <input type="text" value="1">
                </div>
              </div>
            </div>
            <a href="#" class="primary-btn">ADD TO CARD</a>
            <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
            <div class="sold_by mt-5 border-top">
              <div class="cart row mt-4">
                <div class="image col-2">
                  <img class="border w-100 img-fluid rounded-circle" th:src="@{|/assets/images/person/${item.avatar}|}" alt="logo">
                </div>
                <div class="info col-10">
                  <div class="name">
                    [[${item.createBy}]]
                  </div>
                  <a href="#" class="btn btn-outline-secondary py-1 px-3 mt-2"><i class="fa fa-university" aria-hidden="true"></i> View Shop</a>
                </div>
              </div>
            </div>
            <ul class="mt-4">
              <li class="row ">
                <b class="col-4">Categories</b>
                <span class="col-8">
                  <span th:each="item : ${categories}" class="badge badge-success mr-2 px-3" style="font-size: 14px">
                    <a class="text-white" href="#">[[${item.name}]]</a>
                  </span>
                </span>
              </li>
              <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
              <li><b>SunFood Guarantee</b> <span>Get the items you ordered or get your money back.</span></li>
              <li><b>Share on</b>
                <div class="share">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                   aria-selected="true">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                   aria-selected="false">Reviews <span>(1)</span></a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div class="product__details__tab__desc">
                  <h6>Products Information</h6>
                  <pre>
                    [[${item.description}]]
                  </pre>
                </div>
              </div>
              <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div class="product__details__tab__desc">
                  <h6>Products Infomation</h6>
                  <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                    Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                    sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                    eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                    sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                    diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                    Proin eget tortor risus.</p>
                  <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                    elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                    porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                    nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product Details Section End -->

  <!-- Related Product Section Begin -->
  <section class="related-product">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title related__product__title">
            <h2>Related Product</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div th:each="item : ${relatedFoods}" class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="product__discount__item">
            <div class="product__discount__item__pic set-bg"
                 th:data-setbg="@{|/assets/images/product/${item.image}|}">
              <div th:if="${item.numberDateToEnd > 0}" class="product__discount__percent">-[[${item.percentDiscount}]]%</div>
              <ul class="product__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li>
                  <a th:attr="ng-click=@{|cart.add(${item.id})|}"><i class="fa fa-shopping-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product__discount__item__text">
              <h5><a th:href="@{|/food/detail/${item.id}|}">[[${item.name}]]</a></h5>
              <div class="product__item__price">
                <p class="product__item__price text-danger d-inline">đ [[${#numbers.formatDecimal(item.priceNew, 0, 'COMMA', 2, 'POINT')}]]</p>
                <span>đ [[${#numbers.formatDecimal(item.priceOld, 0, 'COMMA', 2, 'POINT')}]]</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Related Product Section End -->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>
