USE [FoodStore]
GO
/****** Object:  Table [dbo].[blogs]    Script Date: 5/2/2023 7:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blogs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](1000) NOT NULL,
	[content] [ntext] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[view_count] [bigint] NOT NULL,
	[status] [bigint] NOT NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[customer_email] [varchar](200) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NULL,
	[description] [nvarchar](1000) NULL,
	[image_name] [varchar](300) NULL,
	[create_date] [datetime] NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_blog]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_blog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_id] [bigint] NOT NULL,
	[blog_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_foods]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_foods](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_id] [bigint] NOT NULL,
	[food_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment_reply_blog]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_reply_blog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[blog_id] [bigint] NOT NULL,
	[customer_email] [varchar](200) NOT NULL,
	[comments_blog_id] [bigint] NOT NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](1000) NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[review_id] [bigint] NOT NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](1000) NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments_blog]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments_blog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[blog_id] [bigint] NOT NULL,
	[customer_email] [varchar](200) NOT NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](1000) NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[code] [nvarchar](100) NULL,
	[description] [nvarchar](1000) NULL,
	[user_limit] [bigint] NOT NULL,
	[is_fixed] [bit] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[create_date] [datetime] NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
	[status] [bigint] NOT NULL,
	[percent_coupon] [float] NULL,
	[amount_money_coupon] [float] NULL,
	[user_used] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_coupons]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_coupons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_email] [varchar](200) NOT NULL,
	[coupon_id] [bigint] NOT NULL,
	[create_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_phone_address]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_phone_address](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_email] [varchar](200) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[address] [nvarchar](2000) NULL,
	[city_province] [nvarchar](100) NOT NULL,
	[is_default] [bit] NOT NULL,
	[username] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[email] [varchar](200) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[first_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NULL,
	[fullname] [nvarchar](100) NULL,
	[gender] [bit] NOT NULL,
	[birthday] [datetime] NULL,
	[avatar] [varchar](100) NULL,
	[remember_token] [varchar](100) NULL,
	[status] [bigint] NULL,
	[create_date] [datetime] NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discounts]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discounts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[is_fixed] [bit] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[create_date] [datetime] NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
	[percent_discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_coupons]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_coupons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[coupon_id] [bigint] NOT NULL,
	[create_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foods]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foods](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[price] [float] NOT NULL,
	[quantity_limit] [bigint] NOT NULL,
	[quantity_sell] [bigint] NOT NULL,
	[view_count] [bigint] NOT NULL,
	[description] [nvarchar](1000) NOT NULL,
	[create_date] [date] NOT NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_blog]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_blog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[blog_id] [bigint] NULL,
	[image_name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_food]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_food](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[image_name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_email] [varchar](200) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](1000) NULL,
	[create_date] [datetime] NULL,
	[is_watched] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[food_id] [bigint] NOT NULL,
	[quantity] [bigint] NOT NULL,
	[status] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
	[new_price] [float] NULL,
	[old_price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_email] [varchar](200) NULL,
	[paymentmethod_id] [bigint] NULL,
	[shipmethod_id] [bigint] NULL,
	[order_date] [datetime] NOT NULL,
	[shipped_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
	[customer_phone_address_id] [bigint] NULL,
	[coupon_id] [bigint] NULL,
	[price] [float] NULL,
	[image] [varchar](200) NULL,
	[is_paid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentmethods]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentmethods](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](2000) NULL,
	[code] [nvarchar](100) NULL,
	[image_name] [nvarchar](100) NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[customer_email] [varchar](200) NOT NULL,
	[rating] [bigint] NOT NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[is_favorite] [bit] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[display_name] [nvarchar](100) NOT NULL,
	[create_date] [datetime] NOT NULL,
	[create_by] [bigint] NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipmethods]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipmethods](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](2000) NULL,
	[price] [float] NOT NULL,
	[is_display] [bit] NOT NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/2/2023 7:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[fullname] [nvarchar](200) NULL,
	[gender] [bit] NOT NULL,
	[phone] [varchar](100) NULL,
	[email] [varchar](100) NOT NULL,
	[birthday] [date] NOT NULL,
	[avatar] [nvarchar](max) NULL,
	[address] [nvarchar](200) NULL,
	[remember_token] [varchar](100) NOT NULL,
	[status] [bigint] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
	[city_province] [nvarchar](100) NULL,
	[open_time] [nvarchar](100) NULL,
	[cost_restaurant] [nvarchar](100) NULL,
	[slogan] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blogs] ON 

SET IDENTITY_INSERT [dbo].[blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [food_id], [customer_email], [quantity]) VALUES (10045, 2, N'mr.minhxthanh.lmt@gmail.com', 40)
INSERT [dbo].[cart] ([id], [food_id], [customer_email], [quantity]) VALUES (10046, 3, N'mr.minhxthanh.lmt@gmail.com', 1)
INSERT [dbo].[cart] ([id], [food_id], [customer_email], [quantity]) VALUES (10053, 1, N'mr.minhthanh.le@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description], [image_name], [create_date], [create_by], [is_display]) VALUES (1, N'Bữa sáng', N'breakfast', N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/184526c6-2ae3-4d3e-a8b9-b90f5bfcfe75.jpg?alt=media', CAST(N'2022-12-26T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[categories] ([id], [name], [description], [image_name], [create_date], [create_by], [is_display]) VALUES (2, N'Bữa trưa', N'Lunch', N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/a2fe492b-83a2-4de6-a23b-d45d872116b7.jpg?alt=media', CAST(N'2022-12-21T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[categories] ([id], [name], [description], [image_name], [create_date], [create_by], [is_display]) VALUES (3, N'Bữa tối', N'Dinner', N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/84094fb4-9728-4b62-87fb-712a6a5c46ba.jpg?alt=media', CAST(N'2022-12-09T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[category_blog] ON 

INSERT [dbo].[category_blog] ([id], [category_id], [blog_id]) VALUES (1, 1, 1)
INSERT [dbo].[category_blog] ([id], [category_id], [blog_id]) VALUES (4, 1, 2)
INSERT [dbo].[category_blog] ([id], [category_id], [blog_id]) VALUES (13, 1, 3)
SET IDENTITY_INSERT [dbo].[category_blog] OFF
GO
SET IDENTITY_INSERT [dbo].[category_foods] ON 

INSERT [dbo].[category_foods] ([id], [category_id], [food_id]) VALUES (1, 1, 1)
INSERT [dbo].[category_foods] ([id], [category_id], [food_id]) VALUES (2, 1, 2)
INSERT [dbo].[category_foods] ([id], [category_id], [food_id]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[category_foods] OFF
GO
SET IDENTITY_INSERT [dbo].[comment_reply_blog] ON 

INSERT [dbo].[comment_reply_blog] ([id], [blog_id], [customer_email], [comments_blog_id], [title], [content], [create_date], [update_date], [status], [is_display]) VALUES (3, 1, N'mr.minhthanh.le@gmail.com', 9, N'Minh Thanh', N'<p>How are you?</p>', CAST(N'2023-04-08T00:32:48.970' AS DateTime), CAST(N'2023-04-08T00:32:48.970' AS DateTime), 1, 1)
INSERT [dbo].[comment_reply_blog] ([id], [blog_id], [customer_email], [comments_blog_id], [title], [content], [create_date], [update_date], [status], [is_display]) VALUES (4, 5, N'mr.minhthanh.le@gmail.com', 12, N'Minh Thanh', N'<p>Hiii😍</p>', CAST(N'2023-04-08T18:14:13.120' AS DateTime), CAST(N'2023-04-08T18:14:13.120' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[comment_reply_blog] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([id], [review_id], [title], [content], [create_date], [update_date], [is_display]) VALUES (1, 13, N'Minh Thanh', N'<p>This good!</p>', CAST(N'2023-04-14T19:54:15.350' AS DateTime), CAST(N'2023-04-14T19:54:15.350' AS DateTime), 0)
INSERT [dbo].[comments] ([id], [review_id], [title], [content], [create_date], [update_date], [is_display]) VALUES (2, 13, N'Minh Thanh', N'<p>Well well..</p>', CAST(N'2023-04-20T20:44:21.920' AS DateTime), CAST(N'2023-04-20T20:44:21.920' AS DateTime), 0)
INSERT [dbo].[comments] ([id], [review_id], [title], [content], [create_date], [update_date], [is_display]) VALUES (3, 36, N'Thành Minh', N'<p>This good!!</p>', CAST(N'2023-04-24T08:39:42.587' AS DateTime), CAST(N'2023-04-24T08:39:42.587' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[comments_blog] ON 

INSERT [dbo].[comments_blog] ([id], [blog_id], [customer_email], [title], [content], [create_date], [update_date], [status], [is_display]) VALUES (1, 1, N'mr.minhxthanh.lmt@gmail.com', N'Mr LEO', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it', CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-23T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[comments_blog] ([id], [blog_id], [customer_email], [title], [content], [create_date], [update_date], [status], [is_display]) VALUES (2, 1, N'mr.minhthanh.le@gmail.com', N'Minh Thanh', N'This good!!', CAST(N'2023-03-22T00:00:00.000' AS DateTime), CAST(N'2023-03-22T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[comments_blog] ([id], [blog_id], [customer_email], [title], [content], [create_date], [update_date], [status], [is_display]) VALUES (5, 1, N'mr.minhxthanh.lmt@gmail.com', N'Mr LEO', N'<ol>
<li>Hello</li>
<li>Hi</li>
<li>Hey</li>
</ol>', CAST(N'2023-04-07T17:42:10.010' AS DateTime), CAST(N'2023-04-07T17:42:10.010' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[comments_blog] OFF
GO
SET IDENTITY_INSERT [dbo].[coupons] ON 

INSERT [dbo].[coupons] ([id], [name], [code], [description], [user_limit], [is_fixed], [start_date], [end_date], [create_date], [create_by], [is_display], [status], [percent_coupon], [amount_money_coupon], [user_used]) VALUES (1, N'none', N'none', N'none', 999999, 0, CAST(N'2090-03-25T00:00:00.000' AS DateTime), CAST(N'2024-04-30T00:00:00.000' AS DateTime), CAST(N'2023-03-23T00:00:00.000' AS DateTime), 1, 0, 1, 0, 0, 0)
INSERT [dbo].[coupons] ([id], [name], [code], [description], [user_limit], [is_fixed], [start_date], [end_date], [create_date], [create_by], [is_display], [status], [percent_coupon], [amount_money_coupon], [user_used]) VALUES (2, N'100K off', N'MN10083', N'Min. Spend 200KK', 20, 0, CAST(N'2023-03-25T00:00:00.000' AS DateTime), CAST(N'2024-04-30T00:00:00.000' AS DateTime), CAST(N'2023-03-25T00:00:00.000' AS DateTime), 1, 1, 1, 0, 100000, 0)
INSERT [dbo].[coupons] ([id], [name], [code], [description], [user_limit], [is_fixed], [start_date], [end_date], [create_date], [create_by], [is_display], [status], [percent_coupon], [amount_money_coupon], [user_used]) VALUES (3, N'10% off', N'PT30349', N'Min. Spend 50K', 20, 0, CAST(N'2023-03-25T00:00:00.000' AS DateTime), CAST(N'2024-04-30T00:00:00.000' AS DateTime), CAST(N'2023-03-25T00:00:00.000' AS DateTime), 1, 1, 1, 10, 0, 0)
SET IDENTITY_INSERT [dbo].[coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[customer_coupons] ON 

INSERT [dbo].[customer_coupons] ([id], [customer_email], [coupon_id], [create_date], [status]) VALUES (1, N'mr.minhxthanh.lmt@gmail.com', 1, CAST(N'2023-03-30T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[customer_coupons] ([id], [customer_email], [coupon_id], [create_date], [status]) VALUES (2, N'mr.minhxthanh.lmt@gmail.com', 2, CAST(N'2023-03-30T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[customer_coupons] ([id], [customer_email], [coupon_id], [create_date], [status]) VALUES (3, N'mr.minhxthanh.lmt@gmail.com', 3, CAST(N'2023-03-30T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[customer_coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[customer_phone_address] ON 

INSERT [dbo].[customer_phone_address] ([id], [customer_email], [phone], [address], [city_province], [is_default], [username]) VALUES (1, N'mr.minhxthanh.lmt@gmail.com', N'0368293492', N'Quan 1', N'TP HCM', 1, N'Van Teo')
INSERT [dbo].[customer_phone_address] ([id], [customer_email], [phone], [address], [city_province], [is_default], [username]) VALUES (2, N'mr.minhxthanh.lmt@gmail.com', N'0348293572', N'Quan 2', N'TP HCM', 0, N'Thi No')
INSERT [dbo].[customer_phone_address] ([id], [customer_email], [phone], [address], [city_province], [is_default], [username]) VALUES (3, N'mr.minhxthanh.lmt@gmail.com', N'0384937239', N'QUan 3', N'TP HCM', 0, N'Van Trung')
SET IDENTITY_INSERT [dbo].[customer_phone_address] OFF
GO
INSERT [dbo].[customers] ([email], [password], [first_name], [last_name], [fullname], [gender], [birthday], [avatar], [remember_token], [status], [create_date], [is_display]) VALUES (N'bichphuong@gmail.com', N'12345', N'', N'', N'Nguyễn Thị Bích Phương', 1, CAST(N'1997-06-02T00:00:00.000' AS DateTime), N'', N'', 1, CAST(N'2023-04-11T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[customers] ([email], [password], [first_name], [last_name], [fullname], [gender], [birthday], [avatar], [remember_token], [status], [create_date], [is_display]) VALUES (N'daihai@gmail.com', N'12345', N'', N'', N'Nguyễn Đại Hải', 1, CAST(N'2000-12-02T00:00:00.000' AS DateTime), N'', N'', 1, CAST(N'2023-04-11T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[customers] ([email], [password], [first_name], [last_name], [fullname], [gender], [birthday], [avatar], [remember_token], [status], [create_date], [is_display]) VALUES (N'daihai232@gmail.com', N'12345', N'', N'', N'Nguyễn Phúc Hải', 1, CAST(N'2000-12-02T00:00:00.000' AS DateTime), N'', N'', 1, CAST(N'2023-04-11T00:00:00.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[discounts] ON 

INSERT [dbo].[discounts] ([id], [food_id], [name], [is_fixed], [start_date], [end_date], [create_date], [create_by], [is_display], [percent_discount]) VALUES (1, 1, N'Sale 20%', 0, CAST(N'2023-03-10T00:00:00.000' AS DateTime), CAST(N'2023-03-30T00:00:00.000' AS DateTime), CAST(N'2023-03-10T00:00:00.000' AS DateTime), 1, 0, 20)
INSERT [dbo].[discounts] ([id], [food_id], [name], [is_fixed], [start_date], [end_date], [create_date], [create_by], [is_display], [percent_discount]) VALUES (2, 2, N'Sale 30%', 0, CAST(N'2023-03-12T00:00:00.000' AS DateTime), CAST(N'2023-03-20T00:00:00.000' AS DateTime), CAST(N'2023-03-10T00:00:00.000' AS DateTime), 1, 1, 30)
INSERT [dbo].[discounts] ([id], [food_id], [name], [is_fixed], [start_date], [end_date], [create_date], [create_by], [is_display], [percent_discount]) VALUES (3, 1, N'Sale 50%', 0, CAST(N'2023-02-12T00:00:00.000' AS DateTime), CAST(N'2023-02-25T00:00:00.000' AS DateTime), CAST(N'2023-02-12T00:00:00.000' AS DateTime), 1, 0, 50)
SET IDENTITY_INSERT [dbo].[discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[foods] ON 

INSERT [dbo].[foods] ([id], [name], [price], [quantity_limit], [quantity_sell], [view_count], [description], [create_date], [create_by], [is_display]) VALUES (1, N'Mì xào', 55000, 100, 25, 3128, N'<p>M&igrave; x&agrave;o rau v&agrave; thịt b&ograve;0</p>', CAST(N'2022-12-14' AS Date), 1, 1)
INSERT [dbo].[foods] ([id], [name], [price], [quantity_limit], [quantity_sell], [view_count], [description], [create_date], [create_by], [is_display]) VALUES (2, N'Thịt nướng', 30000, 50, 30, 3435, N'<p>Thịt nướng an k&egrave;m rau tuoi</p>', CAST(N'2022-12-15' AS Date), 1, 1)
INSERT [dbo].[foods] ([id], [name], [price], [quantity_limit], [quantity_sell], [view_count], [description], [create_date], [create_by], [is_display]) VALUES (3, N'Chân gà rút xương ngâm sả tắc', 50000, 70, 50, 5441, N'<h1>Ch&acirc;n G&agrave; Ch&uacute; Đạt - Đủ Loại Sốt - Trần Hưng Đạo</h1>
<div class="category">&nbsp;</div>', CAST(N'2022-12-16' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[foods] OFF
GO
SET IDENTITY_INSERT [dbo].[image_blog] ON 

INSERT [dbo].[image_blog] ([id], [blog_id], [image_name]) VALUES (7, 3, N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/e2b1d6da-e4ba-42ef-be71-bc8946ae2c5a.jpeg?alt=media')
INSERT [dbo].[image_blog] ([id], [blog_id], [image_name]) VALUES (8, 3, N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/2e58787f-b590-4d95-a3ce-210187cc473e.jpeg?alt=media')
INSERT [dbo].[image_blog] ([id], [blog_id], [image_name]) VALUES (9, 5, N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/4d733d34-b422-419a-a329-42f466b7c398.jpeg?alt=media')
SET IDENTITY_INSERT [dbo].[image_blog] OFF
GO
SET IDENTITY_INSERT [dbo].[image_food] ON 

INSERT [dbo].[image_food] ([id], [food_id], [image_name]) VALUES (42, 10, N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/6d949710-58ed-4889-a761-c044d9269e5d.jpg?alt=media')
INSERT [dbo].[image_food] ([id], [food_id], [image_name]) VALUES (43, 10, N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/9be20dc5-f04e-4dc9-917f-74f011c91029.jpg?alt=media')
INSERT [dbo].[image_food] ([id], [food_id], [image_name]) VALUES (44, 10, N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/20655c91-e33d-48fb-8e9b-3732b7bcb3f2.jpg?alt=media')
GO
SET IDENTITY_INSERT [dbo].[image_food] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [food_id], [quantity], [status], [is_display], [new_price], [old_price]) VALUES (1, 4, 3, 1, 1, 1, 55000, 55000)
INSERT [dbo].[order_details] ([id], [order_id], [food_id], [quantity], [status], [is_display], [new_price], [old_price]) VALUES (2, 4, 2, 40, 1, 1, 30000, 30000)
INSERT [dbo].[order_details] ([id], [order_id], [food_id], [quantity], [status], [is_display], [new_price], [old_price]) VALUES (3, 5, 6, 1, 1, 1, 55000, 55000)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [customer_email], [paymentmethod_id], [shipmethod_id], [order_date], [shipped_date], [status], [is_display], [customer_phone_address_id], [coupon_id], [price], [image], [is_paid]) VALUES (4, N'mr.minhxthanh.lmt@gmail.com', 1, 1, CAST(N'2022-05-02T00:00:00.000' AS DateTime), CAST(N'2023-04-02T00:00:00.000' AS DateTime), 1, 1, 1, 1, 1255000, N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/50b5c9cf-cb7f-4b38-a28a-c1ce5dd80c1d.jpeg?alt=media', 1)
INSERT [dbo].[orders] ([id], [customer_email], [paymentmethod_id], [shipmethod_id], [order_date], [shipped_date], [status], [is_display], [customer_phone_address_id], [coupon_id], [price], [image], [is_paid]) VALUES (5, N'mr.minhxthanh.lmt@gmail.com', 1, 1, CAST(N'2022-06-02T00:00:00.000' AS DateTime), CAST(N'2023-04-02T00:00:00.000' AS DateTime), 2, 1, 2, 4, 1004000, N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/50b5c9cf-cb7f-4b38-a28a-c1ce5dd80c1d.jpeg?alt=media', 1)
INSERT [dbo].[orders] ([id], [customer_email], [paymentmethod_id], [shipmethod_id], [order_date], [shipped_date], [status], [is_display], [customer_phone_address_id], [coupon_id], [price], [image], [is_paid]) VALUES (6, N'mr.minhxthanh.lmt@gmail.com', 1, 1, CAST(N'2023-03-04T12:44:40.000' AS DateTime), CAST(N'2023-04-04T00:00:00.000' AS DateTime), 5, 1, 1, 3, 53100, N'https://firebasestorage.googleapis.com/v0/b/upload-images-e2189.appspot.com/o/50b5c9cf-cb7f-4b38-a28a-c1ce5dd80c1d.jpeg?alt=media', 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[paymentmethods] ON 

INSERT [dbo].[paymentmethods] ([id], [name], [description], [code], [image_name], [is_display]) VALUES (1, N'Cash On Delivery', N'Cash On Delivery', N'POD', N'logo.png', 1)
INSERT [dbo].[paymentmethods] ([id], [name], [description], [code], [image_name], [is_display]) VALUES (2, N'Payment on Paypal', N'Payment on Paypal', N'POP', N'logo.png', 1)
SET IDENTITY_INSERT [dbo].[paymentmethods] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [food_id], [customer_email], [rating], [create_date], [update_date], [is_favorite], [is_display]) VALUES (6, 1, N'bichphuong@gmail.com', 3, CAST(N'2022-10-10T00:00:00.000' AS DateTime), CAST(N'2023-10-10T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[reviews] ([id], [food_id], [customer_email], [rating], [create_date], [update_date], [is_favorite], [is_display]) VALUES (13, 1, N'mr.minhxthanh@gmail.com', 5, CAST(N'2023-04-14T00:00:00.000' AS DateTime), CAST(N'2023-04-14T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[reviews] ([id], [food_id], [customer_email], [rating], [create_date], [update_date], [is_favorite], [is_display]) VALUES (27, 9, N'lethanh.000113@gmail.com', 5, CAST(N'2023-04-17T00:00:00.000' AS DateTime), CAST(N'2023-04-17T00:00:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [display_name], [create_date], [create_by], [is_display]) VALUES (4, N'System Administator', N'System Administator', CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[roles] ([id], [name], [display_name], [create_date], [create_by], [is_display]) VALUES (5, N'Vendor', N'Vendor', CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[shipmethods] ON 

INSERT [dbo].[shipmethods] ([id], [name], [description], [price], [is_display], [user_id]) VALUES (1, N'Standard Express', N'International express shipping', 15000, 1, 1)
SET IDENTITY_INSERT [dbo].[shipmethods] OFF
GO
SET IDENTITY_INSERT [dbo].[user_roles] ON 

INSERT [dbo].[user_roles] ([id], [user_id], [role_id]) VALUES (5, 1, 4)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id]) VALUES (6, 1, 5)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id]) VALUES (7, 2, 4)
SET IDENTITY_INSERT [dbo].[user_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [fullname], [gender], [phone], [email], [birthday], [avatar], [address], [remember_token], [status], [create_date], [create_by], [is_display], [city_province], [open_time], [cost_restaurant], [slogan]) VALUES (2, N'minhthanh', N'12345', N'..', 1, N'00', N'mr.minhxthanh@gmail.com', CAST(N'2023-02-19' AS Date), N'undraw_profile.svg', N'Your address', N'token', 1, CAST(N'2023-02-19T00:00:00.000' AS DateTime), 101, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [username], [password], [fullname], [gender], [phone], [email], [birthday], [avatar], [address], [remember_token], [status], [create_date], [create_by], [is_display], [city_province], [open_time], [cost_restaurant], [slogan]) VALUES (3, N'vanteo', N'12345', N'..', 1, N'00', N'VanTeo123@gmail.com', CAST(N'2023-02-21' AS Date), N'undraw_profile.svg', N'Your address', N'token', 1, CAST(N'2023-02-21T00:00:00.000' AS DateTime), 101, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__category__47D9B317A12707C0]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[category_blog] ADD UNIQUE NONCLUSTERED 
(
	[category_id] ASC,
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__category__47BA2D68657C8A8D]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[category_foods] ADD UNIQUE NONCLUSTERED 
(
	[category_id] ASC,
	[food_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__4BC49C32C09D46B5]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[customer_coupons] ADD UNIQUE NONCLUSTERED 
(
	[customer_email] ASC,
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__food_cou__AAC0BBE10312745D]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[food_coupons] ADD UNIQUE NONCLUSTERED 
(
	[food_id] ASC,
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__image_bl__63756948000F72E7]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[image_blog] ADD UNIQUE NONCLUSTERED 
(
	[image_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__paymentm__72E12F1B931526F1]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[paymentmethods] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__reviews__83A8CB7995ACC15F]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[reviews] ADD UNIQUE NONCLUSTERED 
(
	[food_id] ASC,
	[customer_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__2C575876FD07595D]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[display_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1B00B5DD73]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__shipmeth__72E12F1B87E57738]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[shipmethods] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__user_rol__6EDEA1526FFFDC3C]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[user_roles] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616482C7EF39]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5726B7FB547]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57281B0F70B]    Script Date: 5/2/2023 7:38:48 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[blogs]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([customer_email])
REFERENCES [dbo].[customers] ([email])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[category_blog]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[blogs] ([id])
GO
ALTER TABLE [dbo].[category_blog]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[category_foods]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[category_foods]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[comment_reply_blog]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[blogs] ([id])
GO
ALTER TABLE [dbo].[comment_reply_blog]  WITH CHECK ADD FOREIGN KEY([comments_blog_id])
REFERENCES [dbo].[comments_blog] ([id])
GO
ALTER TABLE [dbo].[comment_reply_blog]  WITH CHECK ADD FOREIGN KEY([customer_email])
REFERENCES [dbo].[customers] ([email])
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[reviews] ([id])
GO
ALTER TABLE [dbo].[comments_blog]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[blogs] ([id])
GO
ALTER TABLE [dbo].[comments_blog]  WITH CHECK ADD FOREIGN KEY([customer_email])
REFERENCES [dbo].[customers] ([email])
GO
ALTER TABLE [dbo].[coupons]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[customer_coupons]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[customer_coupons]  WITH CHECK ADD FOREIGN KEY([customer_email])
REFERENCES [dbo].[customers] ([email])
GO
ALTER TABLE [dbo].[customer_phone_address]  WITH CHECK ADD FOREIGN KEY([customer_email])
REFERENCES [dbo].[customers] ([email])
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[food_coupons]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[food_coupons]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[foods]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[image_blog]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[blogs] ([id])
GO
ALTER TABLE [dbo].[image_food]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([customer_email])
REFERENCES [dbo].[customers] ([email])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([customer_phone_address_id])
REFERENCES [dbo].[customer_phone_address] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([customer_email])
REFERENCES [dbo].[customers] ([email])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([paymentmethod_id])
REFERENCES [dbo].[paymentmethods] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([shipmethod_id])
REFERENCES [dbo].[shipmethods] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([customer_email])
REFERENCES [dbo].[customers] ([email])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[shipmethods]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
/****** Object:  StoredProcedure [dbo].[getAllOrderDetailResponseByOrderId]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllOrderDetailResponseByOrderId] @orderID bigint
as
begin
select o.id, f.name, (select top 1 i.image_name from image_food i WHERE i.food_id = o.food_id) as image, 
o.quantity, o.new_price, o.old_price from [order_details] o
left join foods f on f.id = o.food_id
WHERE o.order_id = @orderID
end;
GO
/****** Object:  StoredProcedure [dbo].[getInfoDetailFood]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getInfoDetailFood] @food_id bigint
as
    begin
select f.id, f.name, f.price as 'price_old', iif(DATEDIFF(day, GETDATE(), d.end_date) < 0, f.price, iif(d.food_id = f.id, ROUND(SUM(f.price * ((100-d.percent_discount)/100)), 1), f.price)) as 'price',
       f.quantity_sell, sum(f.quantity_limit - f.quantity_sell) as 'inventory',
       f.view_count, f.[description], 
	   iif(DATEDIFF(day, GETDATE(), d.end_date) < 0, d.name + ' END!' , d.name) as 'name_discount',
       iif(DATEDIFF(day, GETDATE(), d.start_date) < 0, 0 , DATEDIFF(day, GETDATE(), d.start_date)) as 'number_date_to_start',
       iif(DATEDIFF(day, GETDATE(), d.end_date) < 0, 0 , DATEDIFF(day, GETDATE(), d.end_date)) as 'number_date_to_end',
       u.username, u.avatar,
       (select top 1 cf.category_id from category_foods cf where cf.food_id = f.id) as 'category_id'
from foods f
        left join (select * from discounts d where d.is_display = 1) d on d.food_id = f.id
        left join users u on u.id = f.create_by
where f.id = @food_id
GROUP BY f.id, f.name, quantity_sell, f.view_count, f.[description], f.price, d.name, d.start_date, d.end_date, d.food_id, u.username, u.avatar;
    end;

GO
/****** Object:  StoredProcedure [dbo].[sp_get6TopRatedProducts]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get6TopRatedProducts]
as
begin
select top 6 f.id, f.name, f.price, (select top 1 i.image_name from image_food i where i.food_id = f.id) as 'image'
from foods f 
left join reviews r on r.food_id = f.id
GROUP BY f.id, f.name, f.price
order by SUM(r.rating) desc
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_get6TopReviewProducts]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get6TopReviewProducts]
as
begin
select top 6 f.id, f.name, f.price, (select top 1 i.image_name from image_food i where i.food_id = f.id) as 'image'
from foods f 
left join reviews r on r.food_id = f.id
left join comments c on c.review_id = r.id
GROUP BY f.id, f.name, f.price
order by count(c.id) desc
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_getListFood]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getListFood] 
as
begin
select f.id, f.name, f.price as 'price_old', iif(DATEDIFF(day, GETDATE(), d.end_date) < 0, f.price, iif(d.food_id = f.id, ROUND(SUM(f.price * ((100-d.percent_discount)/100)), 1), f.price)) as 'price',
       d.percent_discount,
       DATEDIFF(day, GETDATE(), d.end_date) as 'end_discount',
       (select top 1 i.image_name from image_food i where i.food_id = f.id) as 'image',
       (select top 1 c.name from category_foods cf LEFT JOIN categories c on c.id = cf.category_id where cf.food_id = f.id) as 'category'
from foods f
        left join (select * from discounts d where d.is_display = 1) d on d.food_id = f.id
group by f.id, f.name, f.price, d.name, d.end_date, d.food_id, d.percent_discount
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_getListFoodByCategoryId]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getListFoodByCategoryId] @category_id bigint
as
begin
select top 40 f.id, f.name, f.price as 'price_old', iif(DATEDIFF(day, GETDATE(), d.end_date) < 0, f.price, iif(d.food_id = f.id, ROUND(SUM(f.price * ((100-d.percent_discount)/100)), 1), f.price)) as 'price',
       d.percent_discount,
       DATEDIFF(day, GETDATE(), d.end_date) as 'end_discount',
       (select top 1 i.image_name from image_food i where i.food_id = f.id) as 'image',
       (select top 1 c.name from category_foods cf LEFT JOIN categories c on c.id = cf.category_id where cf.food_id = f.id) as 'category'
from foods f
        left join (select * from discounts d where d.is_display = 1) d on d.food_id = f.id
        left join category_foods cf on cf.food_id = f.id where cf.category_id = @category_id
group by f.id, f.name, f.price, d.name, d.end_date, d.food_id, d.percent_discount
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_getListFoodByUserId]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getListFoodByUserId] @userId bigint 
as
begin
select f.id, f.name, f.price as 'price_old', iif(DATEDIFF(day, GETDATE(), d.end_date) < 0, f.price, iif(d.food_id = f.id, ROUND(SUM(f.price * ((100-d.percent_discount)/100)), 1), f.price)) as 'price',
       d.percent_discount,
       DATEDIFF(day, GETDATE(), d.end_date) as 'end_discount',
       (select top 1 i.image_name from image_food i where i.food_id = f.id) as 'image',
       (select top 1 c.name from category_foods cf LEFT JOIN categories c on c.id = cf.category_id where cf.food_id = f.id) as 'category'
from foods f
        left join (select * from discounts d where d.is_display = 1) d on d.food_id = f.id
        where f.create_by = @userId
group by f.id, f.name, f.price, d.name, d.end_date, d.food_id, d.percent_discount
end;

GO
/****** Object:  StoredProcedure [dbo].[sp_getListFoodSale]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getListFoodSale]
as
begin
select f.id, f.name, f.price as 'price_old', iif(DATEDIFF(day, GETDATE(), d.end_date) < 0, f.price, iif(d.food_id = f.id, ROUND(SUM(f.price * ((100-d.percent_discount)/100)), 1), f.price)) as 'price',
       d.percent_discount,
       (select top 1 i.image_name from image_food i where i.food_id = f.id) as 'image',
       (select top 1 c.name from category_foods cf LEFT JOIN categories c on c.id = cf.category_id where cf.food_id = f.id) as 'category'
from foods f
         left join (select * from discounts d where d.is_display = 1) d on d.food_id = f.id
group by f.id, f.name, f.price, d.name, d.end_date, d.food_id, d.percent_discount
having d.food_id > 0
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_getTop2FoodByCategoryId]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getTop2FoodByCategoryId] @category_id bigint
as
begin
select top 2 f.id, f.name, f.price as 'price_old', iif(DATEDIFF(day, GETDATE(), d.end_date) < 0, f.price, iif(d.food_id = f.id, ROUND(SUM(f.price * ((100-d.percent_discount)/100)), 1), f.price)) as 'price',
       d.percent_discount,
       DATEDIFF(day, GETDATE(), d.end_date) as 'end_discount',
       (select top 1 i.image_name from image_food i where i.food_id = f.id) as 'image',
       (select top 1 c.name from category_foods cf LEFT JOIN categories c on c.id = cf.category_id where cf.food_id = f.id) as 'category'
from foods f
        left join (select * from discounts d where d.is_display = 1) d on d.food_id = f.id
        left join category_foods cf on cf.food_id = f.id where cf.category_id = @category_id
group by f.id, f.name, f.price, d.name, d.end_date, d.food_id, d.percent_discount
end
GO
/****** Object:  StoredProcedure [dbo].[sp_getTop9Food]    Script Date: 5/2/2023 7:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getTop9Food]
as
begin
select top 9 f.id, f.name, f.price, (select top 1 i.image_name from image_food i where i.food_id = f.id) as 'image'
from foods f order by f.create_date desc
end;

GO
