<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::#main})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div id="main">
    <style>
        .card-no-border .card {
            border: 0px;
            border-radius: 4px;
            -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
        }

        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem
        }

        .comment-widgets .comment-row:hover {
            background: rgba(0, 0, 0, 0.02);
            cursor: pointer;
        }

        .comment-widgets .comment-row {
            border-bottom: 1px solid rgba(120, 130, 140, 0.13);
            padding: 15px;
        }

        .comment-text:hover {
            visibility: hidden;
        }

        .comment-text:hover {
            visibility: visible;
        }

        .label {
            padding: 3px 10px;
            line-height: 13px;
            color: #ffffff;
            font-weight: 400;
            border-radius: 4px;
            font-size: 75%;
        }

        .round img {
            border-radius: 100%;
        }

        .label-info {
            background-color: #1976d2;
        }

        .label-success {
            background-color: green;
        }

        .label-danger {
            background-color: #ef5350;
        }

        .action-icons a {
            padding-left: 7px;
            vertical-align: middle;
            color: #99abb4;
        }

        .action-icons a:hover {
            color: #1976d2;
        }

    </style>
    <div th:replace="~{/layout/_menu::hero-normal-section}"></div>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg p-3" style="background-color: #9BCA3C;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text" style="font-size: 20px;">
                        <a th:href="@{/home/index}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <section class="ftco-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <h2 class="mb-3">A small river named Duden flows by their place and supplies it with the necessary
                        regelialia.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,
                        quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro
                        adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore
                        perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae
                        voluptates soluta architecto tempora.</p>
                    <p>Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat
                        sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem
                        soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet
                        fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!</p>
                    <h2 class="mb-3 mt-5">#2. Creative WordPress Themes</h2>
                    <p>Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in.
                        Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque.
                        Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos
                        odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.</p>
                    <p>
                        <img src="/assets/images/image_2.jpg" alt="" class="img-fluid">
                    </p>
                    <p>Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo
                        quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis
                        vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint.
                        Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.</p>
                    <p>Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum
                        quidem pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis porro
                        explicabo soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates aperiam
                        non magni. Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.</p>
                    <p>Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio
                        similique asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam
                        iusto, voluptates beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga eligendi
                        vero dolorum provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus culpa,
                        tenetur recusandae!</p>
                    <p>Voluptas dolores dignissimos dolorum temporibus, autem aliquam ducimus at officia adipisci quasi
                        nemo a perspiciatis provident magni laboriosam repudiandae iure iusto commodi debitis est
                        blanditiis alias laborum sint dolore. Dolores, iure, reprehenderit. Error provident, pariatur
                        cupiditate soluta doloremque aut ratione. Harum voluptates mollitia illo minus praesentium,
                        rerum ipsa debitis, inventore?</p>

<!--info writer here-->
                    <div class="blog__details__content mt-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img src="/assets/images/blog/details/details-author.jpg" alt="">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h6>Michael Scofield</h6>
                                        <span>Admin</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__widget">
                                    <ul>
                                        <li><span>Categories:</span> Food</li>
                                        <li><span>Tags:</span> All, Trending, Cooking, Healthy Food, Life Style</li>
                                    </ul>
                                    <div class="blog__details__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="pt-5 mt-4">
                            <div class="row">
                                <div class="col-md-12">
<!--comment here-->
                                    <div class="card-body pt-0">
                                        <h4 class="card-title">Recent Comments</h4>
                                        <h6 class="card-subtitle">Latest Comments section by users</h6></div>

                                    <div class="comment-widgets m-b-20">

                                        <div class="d-flex flex-row comment-row">
                                            <div class="p-2"><span class="round"><img
                                                    src="https://i.imgur.com/uIgDDDd.jpg" alt="user" width="50"></span>
                                            </div>
                                            <div class="comment-text w-100">
                                                <h5>Samso Nagaro</h5>
                                                <div class="comment-footer">
                                                    <span class="date">April 14, 2019</span>
                                                     <span class="action-icons">
                                                    <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a>
                                                    <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                                </span>
                                                </div>
                                                <p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been the industry's
                                                    standard dummy text ever since the 1500s, when an unknown printer
                                                    took a galley of type and scrambled it</p>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row comment-row ">
                                            <div class="p-2"><span class="round"><img
                                                    src="https://i.imgur.com/tT8rjKC.jpg" alt="user" width="50"></span>
                                            </div>
                                            <div class="comment-text active w-100">
                                                <h5>Jonty Andrews</h5>
                                                <div class="comment-footer">
                                                    <span class="date">March 13, 2020</span>
                                                    <span class="action-icons active">
                                                    <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" data-abc="true"><i
                                                            class="fa fa-rotate-right text-success"></i></a>
                                                    <a href="#" data-abc="true"><i class="fa fa-heart text-danger"></i></a>
                                                </span>
                                                </div>
                                                <p class="m-b-5 m-t-10">Contrary to popular belief, Lorem Ipsum is not
                                                    simply random text. It has roots in a piece of classical Latin
                                                    literature from 45 BC, making it over 2000 years old. Richard
                                                    McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                                    looked up one of the more obscure Latin words, consectetur, from a
                                                    Lorem Ipsum passage, and going through the cites</p>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row comment-row">
                                            <div class="p-2"><span class="round"><img
                                                    src="https://i.imgur.com/cAdLHeY.jpg" alt="user" width="50"></span>
                                            </div>
                                            <div class="comment-text w-100">
                                                <h5>Sarah Tim</h5>
                                                <div class="comment-footer">
                                                    <span class="date">Jan 20, 2020</span>
                                                    <span class="action-icons">
                                                    <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a>
                                                    <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                                </span>
                                                </div>
                                                <p class="m-b-5 m-t-10">There are many variations of passages of Lorem
                                                    Ipsum available, but the majority have suffered alteration in some
                                                    form, by injected humour, or randomised words which don't look even
                                                    slightly believable. If you are going to use a passage of Lorem
                                                    Ipsum, you need to be sure</p>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row comment-row">
                                            <div class="p-2"><span class="round"><img
                                                    src="https://i.imgur.com/uIgDDDd.jpg" alt="user" width="50"></span>
                                            </div>
                                            <div class="comment-text w-100">
                                                <h5>Samso Nagaro</h5>
                                                <div class="comment-footer">
                                                    <span class="date">March 20, 2020</span>
                                                    <span class="action-icons">
                                                    <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a>
                                                    <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                                </span>
                                                </div>
                                                <p class="m-b-5 m-t-10">It uses a dictionary of over 200 Latin words,
                                                    combined with a handful of model sentence structures, to generate
                                                    Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
                                                    therefore always free from repetition, injected humour, or
                                                    non-characteristic words etc.</p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <!-- END comment-list -->

                        <div class="comment-form-wrap pt-5  mb-5">
                            <h3 class="mb-2 h4 font-weight-bold p-4 bg-light">Leave a comment</h3>
                            <form action="#" class="p-4 p-md-5 bg-light">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea name="" id="message" cols="30" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn py-2 px-4 btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- .col-md-8 -->
                <div class="col-lg-4 col-md-5 order-md-1 order-2">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="#">All</a></li>
                                <li><a href="#">Beauty (20)</a></li>
                                <li><a href="#">Food (5)</a></li>
                                <li><a href="#">Life Style (9)</a></li>
                                <li><a href="#">Travel (10)</a></li>
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Recent News</h4>
                            <div class="blog__sidebar__recent">
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/assets/images/blog/sidebar/sr-1.jpg" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>09 Kinds Of Vegetables<br/> Protect The Liver</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/assets/images/blog/sidebar/sr-2.jpg" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>Tips You To Balance<br/> Nutrition Meal Day</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/assets/images/blog/sidebar/sr-3.jpg" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>4 Principles Help You Lose <br/>Weight With Vegetables</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Search By</h4>
                            <div class="blog__sidebar__item__tags">
                                <a href="#">Apple</a>
                                <a href="#">Beauty</a>
                                <a href="#">Vegetables</a>
                                <a href="#">Fruit</a>
                                <a href="#">Healthy Food</a>
                                <a href="#">Lifestyle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- END COL -->
        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>
